.container{ 
    padding: 10px;
}
.userLabelContainer{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 5px;
    margin-bottom: 10px;
}
.userWrapper{
    .dropdownTitleContainer{
        color: #000;
        margin: 0 5px;
    }
    .avartarImageContainer{
        background-color: white;
        border: 1px solid #e6ecf3;
    }
    .dropdownIconContainer{
        color: #000;

    }
}